extends layout

block content
  section(class='hero is-primary')
    div(class='hero-body')
      div(class='columns')
        div(class='column is-12')
          div(class='column is-12')
            span(class='icon is-large has-text-warning')
              i(class='icon is-large fas fa-cog')
            h1(class='title')= title
            h2(class='subtitle') Cool Awesome Ride
  section(class='section')
    div(class='container')
      div(class='columns')
        div(class='column is-3')
          aside(class='is-medium menu')
            p(class='menu-label') Areas
            ul(class='menu-list')
              li(class='is-right')
                a(href='#foo', class='is-active') Power
              li(class='is-right')
                a(href='#foo') Lights
              li(class='is-right')
                a(href='#foo') Operation
              li(class='is-right')
                a(href='#foo') Safety
        div(class='column is-9')
          div(class='content is-medium')
            h3(class='title is-3') Power
            button(class='button is-primary is-rounded') 
              i(class='icon fas fa-power-off')
            h3(class='title is-3') Lights
            h3(class='title is-3') Operation
            h3(class='title is-3') Safety