doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/main.css')
    link(rel='stylesheet', href='/extras.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(defer, src='https://use.fontawesome.com/releases/v5.3.1/js/all.js')
  body
    block content
